# Backend API URL
# Local:   http://localhost:3000/api
# Render:  https://your-backend-app.onrender.com/api
VITE_API_URL=http://localhost:3000/api

# Frontend URL (URL ของ frontend เอง)
VITE_CLIENT_URL=http://localhost:5173
