# Server Configuration
PORT=3000
NODE_ENV=development

# MongoDB Connection
# Local:  mongodb://127.0.0.1:27017/taskflow
# Atlas:  mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/taskflow
MONGODB_URI=mongodb://127.0.0.1:27017/taskflow

# JWT Secret Key (เปลี่ยนเป็นค่าที่ซับซ้อนก่อน deploy จริง)
JWT_SECRET=your_super_secret_key_here

# Frontend URL (สำหรับตั้งค่า CORS)
Client_URL=http://localhost:5173
